/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  @apply
  flex
  flex-col
  w-max
  shadow
  rounded
  p-16
  gap-4
}

.input {
  @apply
  border-[1px]
  border-gray-200
  py-2
  px-4
  outline-none
  focus:border-gray-400
  w-full
}

.btn {
  @apply
  text-white
  py-2
  px-7
  rounded
  disabled:opacity-10
}

.subt {
  @apply
  text-3xl
  font-semibold
}

.subt-xl {
  @apply
  text-5xl
  font-semibold
  mb-10
}

.label {
  @apply
  text-base
  font-light
  flex
  flex-col
  gap-2
}

.para {
  @apply
  text-gray-500
}

.icon {
  @apply
  text-5xl
}

.box {
  @apply
  shadow
  p-10
  rounded-xl
}

.card {
  @apply
  p-7
  flex
  flex-col
  rounded-md
  w-52
  backdrop-blur-lg
  bg-white/85
}

.option {
  @apply
  px-16
  py-16
  bg-gray-950
  text-white
  font-semibold
  rounded-md
  w-96
  text-center
  text-xl
  shadow
  disabled:bg-gray-400/75
  hover:bg-gray-900/95
  active:bg-gray-900/85
}